.header {
    // height: 100vh;
    background-image: url("../img/home-page.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30rem;

    &__contact-about {
        background-image: url("../img/contact-us.jpg");
    }


    &__content {
        // position: absolute;
        // top: 60%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        background-color: rgb(48, 47, 47, .8);
        color: #fff;
        padding: 3rem;
        border-radius: 1rem;

        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 2rem;
            margin: 2rem 0;
        }

        li {
            list-style: none;
            font-size: 3rem;
        }
    }
}