//IMPORTED FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Sriracha&display=swap');

//GLOBAL RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //1rem = 10px

    //Base font size changes for different screen sizes
    @media only screen and (min-width: 2000px) {
        font-size: 80%;
    }

    @media only screen and (min-width: 1600px) {
        font-size: 70%;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 60%;
    }

    @media only screen and (max-width: 1000px) {
        font-size: 55%;
    }

    @media only screen and (max-width: 900px) {
        font-size: 53%;
    }

    @media only screen and (max-width: 700px) {
        font-size: 50%;
    }

    @media only screen and (max-width: 500px) {
        font-size: 45%;
    }

    @media only screen and (max-width: 400px) {
        font-size: 40%;
    }

    @media only screen and (max-width: 300px) {
        font-size: 35%;
    }

    @media only screen and (max-width: 250px) {
        font-size: 30%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}